/* Universal Styles */

html {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  background-color: black;
}

div {
  display: block;
}

.header {
  width: 100%;
}

nav {
  width: 100%;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  height: 50px;
  background-color: blanchedalmond;
}

.navbar p {
  display: inline-block;
  padding: 10px;
  font-family: "dosis", sans-serif;
  font-weight: bold;
}

.navbar a {
  color: black;
}

.compname {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://media.istockphoto.com/id/1182467056/vector/cute-meadow-area-with-clouds-stars-and-mountains.jpg?s=612x612&w=0&k=20&c=SwM7C0pbLBDmJRKXJLwGfFVPB2Tl5boff8kYmQOs3mg=');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 400px;
}

.compname h1 {
  height: auto;
  font-family: 'cormorant garamond', serif;
  font-size: 7rem;
  font-weight: bold;
  color: black;
  line-height: 1;
  text-shadow: 2px 2px blanchedalmond, -2px -2px blanchedalmond;
  margin-top: 2.5%;
  min-width: 1000px;
}

.mission-container {
  background-image: url('https://media.istockphoto.com/id/1140828326/vector/retro-neon-background-with-80s-styled-laser-grid-and-stars.jpg?s=612x612&w=0&k=20&c=wnw0f35ERwayC4TlDo_0sd25b1PHKS4G5ucFD5xTNFo=');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  margin-top: 5%;
}

#mission {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mission h2 {
  font-family: 'orbitron', sans-serif;
  font-size: 3.5rem;
  color: blanchedalmond;
  text-shadow: #FC0 1px 0 10px;
  margin-bottom: 3%;
}

#mission p {
  font-family: 'dosis', sans-serif;
  font-size: 2rem;
  color: blanchedalmond;
  text-align: center;
  text-shadow: #FC0 2px 0 10px;
  line-height: 1.2;
  padding-left: 3%;
  padding-right: 3%;
  max-width: 1000px;
  min-width: 750px;
}

.port-container {
  color: blanchedalmond;
  width: 100%;
  margin-top: 5%;
}

.port-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 250px;
  padding-top: 3%;
}

.port-header h2 {
  font-family: 'orbitron', sans-serif;
  font-size: 3.5rem;
}

.port-header p {
  font-family: 'dosis', sans-serif;
  font-size: 1.5rem;
}

.port-img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.img {
  margin: 1% 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

.img img {
  border-radius: 10px;
}

.img h3 {
  margin-top: 1%;
}

.img h3, .img p {
  padding: 1%;
}

.team-container {
  color: blanchedalmond;
  width: 100%;
  margin-top: 5%;
  background-color: darkblue;
}

.team-header h2 {
  font-family: 'orbitron', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2%;
  padding-top: 3%;
}

.teammates {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 2%;
}

.team-img {
  margin: 1% 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

.team-img img {
  border-radius: 25px;
}

.team-img h2{
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1.5%;
  font-size: 1.5rem;
}

.team-img h3 {
  font-style: italic;
}

.info-container {
  color: blanchedalmond;
  width: 100%;
  margin-top: 5%;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h2 {
  padding: 1.5%;
  font-size: 1.5rem;
}

.information h3 {
  padding: 1%;
  font-size: 1.5rem;
}

.copyright p {
  margin-left: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
}